
 NET clk     PERIOD = 10 ns HIGH 50;   // 200Mhz
 NET spi_clk PERIOD = 500 ns HIGH 50;  // 2 Mhz
 NET one_pps PERIOD = 10 ms HIGH 50;
 
 #NET clk     LOC=P6;//       IOSTANDARD = LVCMOS33;
 #NET spi_clk LOC=P7;//       IOSTANDARD = LVCMOS33;
 
 #NET one_pps LOC=P5;//       IOSTANDARD = LVCMOS33;
 #NET nreset  LOC=P30;//      IOSTANDARD = LVCMOS33;
 #NET one_pps_cont LOC=P29;// IOSTANDARD = LVCMOS33;
 #NET spi_sen LOC=P28;//      IOSTANDARD = LVCMOS33;
 #NET spi_out LOC=P24;//      IOSTANDARD = LVCMOS33;
 #NET spi_out_oen LOC=P23;//  IOSTANDARD = LVCMOS33;
 
 
 